<div class="container">
  <div class="section-header">
    <h2> Trending movies </h2>
    <button> View All </button>
  </div>
  <div class="section-body">
    <!-- <div class="items-wrapper"> -->
    <div class="single-item">
      <img src="/assets/images/covers/1020996-352x500.jpg" class="book-cover" alt="">
      <div class="book-title"> Harry Potter - Philosopher's stone </div>
      <div class="book-rating"> 4.5 </div>
    </div>

    <div class="single-item">
      <img src="/assets/images/covers/1020996-352x500.jpg" class="book-cover" alt="">
      <div class="book-title"> Harry Potter - Philosopher's stone </div>
      <div class="book-rating"> 4.5 </div>
    </div>
    <!-- <!-- </div> -->
  </div>
</div>