<div class="containter">
  <div class="content">
    <div class="content-inner">
      <h1 class="content-inner-heading"> Movies Ranking </h1>
      <div class="content-inner-description">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor ad repellat distinctio excepturi
          minima nam doloribus sequi illo iusto! Earum saepe reiciendis voluptatem quidem ipsa modi vero eveniet vitae,
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam atque odio, officia facere quos, quidem
          aliquam explicabo iure est neque ad! Amet eveniet modi sint, molestias dolor vero sed consectetur. Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Harum asperiores deserunt voluptatibus iusto recusandae eius est
          ipsum quos officiis ab fuga tenetur dolorum, ipsam enim fugit odio quidem excepturi ullam vitae possimus.
          Aliquid quam tempore mollitia. Quae tempora, placeat ducimus dolor, ipsum fuga velit commodi cupiditate sed,
          aut
          explicabo repudiandae?</p>
      </div>
    </div>
    <mat-tab-group class="registration">
      <mat-tab id="login" class="registration-label" label="Log In">
        <div class="content-form">
          <app-login></app-login>
        </div>

      </mat-tab>
      <mat-tab class="registration-label" label="Sign Up">
        <div class="content-form">
          <app-signup></app-signup>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>