.btn {
  border: none;
  background: none;
  cursor: pointer;

  &.login {
    background: $primary-color;
    color: #fff;
    font-weight: 600;

    &:hover {
      box-shadow: 2px 4px 5px 0px $primary-color;
    }
  }

  &.dark {
    background: #464646;
    color: #fff;
    &:hover {
      background: #fff;
      color: #464646;
    }
  }

  &.signup {
    background: #fff;
    color: $primary-color;
    font-weight: 600;

    &:hover {
      box-shadow: 2px 4px 5px 0px #333;
    }
  }
  &.view-all {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &.default{
    background: $primary-color;
    color: #fff;
    padding: 13px 14px;
    border-radius: 13px;
  }
}
