.form {
  width: 300px;
  padding: 40px 50px;
  border-radius: 15px;
  text-align: right;

  &.login {
    background: #ffffff;
    color: #333;

    .mat-mdc-raised-button[disabled] {
      background: gray;
      cursor: not-allowed;
    }

    .form-field-notification {
      color: #d43333;
    }
  }

  &.signup {
    background: $primary-color;
    color: #fff;
    padding: 20px 50px;
    text-align: center;

    .mat-mdc-raised-button[disabled] {
      background: #ccc7c6;
      cursor: not-allowed;
      color: gray;
    }

    ::placeholder,
    .form-field-input {
      color: #fff;
    }
  }

  &-wrong-data {
    text-align: center;
    display: block;
    color: $primary-color;
  }

  &-field {
    margin: 10px 0;
    width: 100%;

    &-input{
      line-height: normal;
      padding: 0;
    }


    &-notification {
      font-size: 0.8rem;
    }

    .mat-mdc {
      &-input-element {
        padding-bottom: 5px;
      }

      &-form-field-infix {
        padding-top: 15px;
      }
    }
  }
}

