@import url("https://fonts.googleapis.com/css2?family=Diplomata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");

$primary-color: #815e55;
$secondary-color: rgb(0, 7, 142);
$text-color-dark: #333;
$text-color-light: #fff;
