<!-- <form>
  <mat-form-field class="form-field">
    <mat-label class="form-field-label">Book Title</mat-label>
    <input class="form-field-input form-field-username" type="text" matInput [formControl]="title"
      placeholder="John doe">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="form-field-label">Book Author</mat-label>
    <input class="form-field-input form-field-username" type="text" matInput [formControl]="title"
      placeholder="John doe">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="form-field-label">Book Title</mat-label>
    <textarea class="form-field-input form-field-username" type="text" matInput [formControl]="title"
      placeholder="John doe"> </textarea>
  </mat-form-field>
</form> -->

<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>