<div class="container-review">
  <div class="review-header">
    <h1 mat-dialog-title>Add Review: </h1>
  </div>
  <div mat-dialog-content class="review-content">
    <form>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label class="form-field-label">Review date</mat-label>
        <input class="form-field-input form-field-username" type="text" matInput [formControl]="date" value="{{currentDate |
          date: 'dd-MM-yyyy'}}">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label class=" form-field-label">Review</mat-label>
        <textarea class="form-field-input form-field-username" type="text" matInput [formControl]="description"
          placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique aspernatur sequi neque rerum cumque culpa laudantium!        "> </textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="review-buttons actions-btn justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn default dark"
      (click)="onAddReview(date, description)">Add
      Review</button>
    <button mat-button mat-dialog-close class="btn default bright">Close</button>
  </div>
</div>