@import "src/styles/styles.scss";

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: $primary-color;
  color: #fff;

  &-logo {
  }
  &-links {
  }
}
